
<section id="hero" class="bg-dark text-white text-center py-5">
    <h1 class="text-white">{{title}}</h1>
    <p class="lead">Vehicles are very usefull in day-to-day life to save time</p>

</section>
